
{{model|json}}
<h1 [ngStyle]="{backgroundColor: getColor()}"
[ngClass]="{active: status===true}">Status</h1>
<div *ngIf="!status">
<button (click)="makeTrue()">Activate</button>
</div>
<div *ngIf="status">
  <button (click)="makeFalse()">Desactivate</button>
  </div>
<div class="form-group">
  <form id=formId (ngSubmit)="onsubmit()" #fp="ngForm">
    <div class="for-group">
    <label for="nom">Nom</label>
  <input class="form-control" type="text" id="nom"
  [(ngModel)]="model.nom" name="nom"
               #nom="ngModel" required/>
</div>
<div class="form-group">
<label for="adresse">Adresse</label>
<input class="form-control" type="text" [(ngModel)]="model.adresse" id="adresse" name="adresse" />
</div>
<div class="form-group">
  <label for="profil">Profil</label>
  <select class="form-control" id="profil" name="profil" [(ngModel)]="model.profil" required>
    <option *ngFor="let profil of profils" [value]="profil">{{profil}}</option>
  </select>
</div>
<button type="submit" [disabled]="fp.invalid" class="btn btn-success"  (click)="newPerson();fp.reset()">Submit</button>
<button type="reset" class="btn btn-primary">Reset</button>
</form>
<div [hidden]="!submitted">
  <h2>You submitted the following:</h2>
  <div class="row">
    <div class="col-xs-3">Name</div>
    <div class="col-xs-9">{{ model.nom }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Alter Ego</div>
    <div class="col-xs-9">{{ model.adresse }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Power</div>
    <div class="col-xs-9">{{ model.profil }}</div>
  </div>
  <br>
  <button class="btn btn-primary" (click)="submitted=false">Edit</button>
</div>

</div>

