<div *ngIf="hero">
  <h1>{{hero.nom|uppercase}} Details</h1>
  <div>
  <span>id:</span>{{hero.id}}
  <label for="nom">nom</label>
  <input id="nom" [(ngModel)]="hero.nom" placeholder="nom">
  </div>
  <button (click)="goBack()">goBack</button>
  <button (click)="onSave()">Save</button>
  </div>

