<div class="form-group">
  <form id="idfrm" (ngSubmit)="onsubmitt(fper)" #fper="ngForm">
    <div class="form-group">
    <label   for="fname">FirstName</label>
    <input type="text" class="form-control" name="fname" required ngModel />
  </div>
  <div class="form-group">
  <label for="lname">LastName</label>
  <input class="form-control" type="text" id="lname" name="lname" ngModel />
  </div>
  <div class="form-group">
  <label  for="adress">Adress</label>
  <input class="form-control" type="text" id="adress" name="adress" ngModel />
  </div>
  <button type="submit" class="btn btn-success" [disabled]="fper.invalid"> Save</button>
  <button type="reset" class="btn btn-danger"> Annuler</button>
  </form>
  </div>
