<h1>{{title}}</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/dashboard">DashBoard</a>
    <a class="nav-link active" routerLink="/heroes">Heroes List</a>
  <a  class="nav-link active"  routerLink="/login">Login</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
<nav>

</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>
