<div *ngIf="this.msgService.messages.length">
<h2>Message</h2>
<button class="clear" (click)="msgService.clearMessage()">Clear Message</button>
<div *ngFor="let message of this.msgService.messages">{{message}}</div>
</div>
