<h2>DashBoard </h2>
-{{0.47|percent}}
<div class="heroes-menu">
  <a *ngFor="let hero of heroes"
    routerLink="/detail/{{hero.id}}">
    {{hero.nom}}
  </a>
</div>
<app-hero-search></app-hero-search>
