<ul class="heroes">
  <li *ngFor="let hero of heroes">
 <a routerLink="/detail/{{hero.id}}">
  <span class="badge">{{hero.id}}</span>{{hero.nom}}
 </a>
 <button class="delete" title="delete hero" (click)="deleteHero(hero)">x</button>
  </li>
</ul>
<div>
<label for="newHero">Hero Name</label>
<input id="newHero" #heroName />
<button class="add-button" (click)="addHero(heroName.value);heroName.value=''">New Hero</button>
</div>
<app-form-personne></app-form-personne>
