<div id="search-component">
  <label for="search-box">Hero Search</label>
 <input id="search-box" #searchBox (input)="search(searchBox.value)" />
 <ul class="search-result">
  <li *ngFor="let hero of heroes$|async">
    <a routerLink="/detail/{{hero.id}}"> </a>{{hero.nom}}
  </li>
</ul>
</div>


